.search-centered{
  width: 50%;
    margin: 0 auto;
}
 #home-background { 
      background: url(../images/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    /* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(https://abs.twimg.com/images/themes/theme15/bg.png);
background-position: left 40px;
background-attachment: fixed;
background-repeat: repeat;
background-repeat: no-repeat;
background-color: #022330;
}
.top-buffer { margin-top:20px; }
.homerow {
margin-right: -50px;
margin-left: -50px;
}
.signin {
  width: 100%
	color: inherit;
	background-color: rgba(255, 255, 255, 0.20);
	border: 1px solid #e2e2e2;
}
.topnav {
background-color: rgba(255, 255, 255, 0.99);
font-size: 1.2em;
position: fixed;
top: 0;
width: 100%;
z-index: 200;
top: 10px;
border: 1px solid #e2e2e2;
}

.homenav {
background-color: rgba(255, 255, 255, 0.99);
font-size: 1.2em;
position: fixed;
top: 0;
width: 100%;
z-index: 200;
border: 1px solid #e2e2e2;
border-bottom-color: rgb(221, 221, 221);
border-bottom-style: solid;
border-bottom-width: 1px;
box-shadow: rgba(200, 200, 200, 0.298039) 0px 3px 2px -2px;
height: 50px;
}


.signup {
	padding: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.70);
	border: 1px solid #e2e2e2;
	border-radius: 15px;
}

.updates {
	padding: 5px;
	margin-bottom: 5px;
	color: inherit;
	background-color: rgba(210, 210, 210, 0.70);
	border: 1px solid #e2e2e2;

}

 #user-background { 
      background-color:#484a4c  no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

#profile-background {
  background-color: #d9534f
}
.panel{
  border: none;
}
.fullname {
  font-weight: 700;
font-size: 18px;
line-height: 21px; 
}
ul, li {list-style-type: none;
padding-left:0;}


.grumbl{
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
}

.username {
  font-size: 12px;
padding-right: 5px;
color: #66757f;
}

.feed {
	border-color: #d43f3a
}

.post {
	 padding:4px 4px;
    margin:0px;
    border-bottom:1px solid #e2e2e2 

}
td, th {
padding: 5px;
}

.head-text {
  color: #66757f;
font-size: 22px;
font-weight: 300;
line-height: 22px;
}

.small-text {
  color: #66757f;
font-size: 15px;
font-weight: 300;
line-height: 22px;
}

.friends {

}
.error-msg {
   color:#d9534f;
   font-size:15px;
   margin-top:15px;
}

.forgot-pass {
   color:#428bca;
   font-size:25px;
   margin-top:15px;
}

.profile-pic {
  background-color: #fff;
border-radius: 6px;
margin: -30px 0 0 8px;
padding: 3px;
vertical-align: bottom;
height: 100px;
width: 100px;
 
  background-position: center center;
border: 4px solid #eee;
background: url(../images/profile.jpeg)
}

span {
    display: inline-block; /* change the display type           */
    margin: 10px 0;        /* apply the needed vertical margins */
}


.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
  background: url(../images/profile.jpeg)
}

.col-md-6 {
width: 50%;
padding-left: 0px;
padding-right: 0px;
}

#forgot-pass {
  font-size:2px
}



  
 
