
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="resources/css/grumbler.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-fixed-top homenav" role="navigation">

    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-size:35px;color:#d9534f;font-weight: bold;" href="#">Grumblr</a>
        </div>

         <div class="navbar-collapse collapse">
          

          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="search Grumblr" class="form-control ">
              <button type="submit" class="btn btn-danger">Search</button>
              <span class="glyphicon glyphicon-cog"></span> Settings
              <span class="glyphicon glyphicon-user "></span> Profile
              <span class="glyphicon glyphicon-off "></span> Sign out
            </div>
            
          </form>


        </div>



    </div>

</div>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron updates">
      <div class="container">
         
          </div>
    </div>


       <div class="container">
      <!-- Example row of columns -->

      <div class="row">


        <div class="col-md-3 profile">  

            
        </div>




        <div class="col-md-6 feed">

        <div class="panel panel-default">
            <div class="panel-heading ">
            <div class="circle" style="background-image: 
              url('http://img.labnol.org/di/bo.jpg')">
            </div>
              
            </div>
            <div class="panel-body">
              <h3 class="panel-title">Optimus</h3>

            </div>
          </div>
          
          
          <div class="panel panel-default">
              <div class="panel-heading"> 
                <span class="glyphicon glyphicon-list-alt"></span><b> Posts </b>
              </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12">
                        <ul class="demo1">

                        <li class="post" >
                        <table cellpadding="4" >
                        <tr>
                        <td><img src="resources/images/post1.png" width="60" class="img-circle" /></td>
                        <td> <h4> Optimus </h4> This is a sample post of Grumbler by first user </td>
                        </tr>
                        </table>
                        </li>

                        <li class="post">
                        <table cellpadding="4">
                        <tr>
                        <td><img src="resources/images/post2.png" width="60" class="img-circle" /></td>
                        <td> <h4>Optimus</h4>Grumbler is awesome, Grumbler is awesome,Grumbler is awesome,
                        Grumbler is awesome,Grumbler is awesome,Grumbler is awesome, </td>
                        </tr>
                        </table>
                        </li>

                        </ul>
                      </div>
                    </div>
                  </div>
            </div>

        </div>

        <div class="col-md-3 friends pull-right">
          <div class="panel panel-default">
           
            <div class="panel-body">
              <h3 class="panel-title">Friends</h3>
             <div>
              <img src="resources/images/gq.jpg"/>
              <img src="resources/images/tu.jpg"/>
               <img src="resources/images/1a.jpg"/>
               <img src="resources/images/1b.jpg"/>
             </div>
              
            </div>
          </div>
        </div>


      </div> <!-- row -->
      
    </div> <!-- /container -->

  


</body>

</html>